/* Definición de variables */
$primary-color: #3498db;
$secondary-color: #2ecc71;
$font-primary: Arial, sans-serif;
$border-radius: 5px;
$transition-speed: 0.3s;

/* Mixins */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style($bg-color) {
  background-color: $bg-color;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color $transition-speed;
  &:hover {
    background-color: darken($bg-color, 10%);
  }
}

body {
  font-family: $font-primary;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  @include flex-center;
  flex-direction: column;
}

.button-primary {
  @include button-style($primary-color);
}

.button-secondary {
  @include button-style($secondary-color);
}

.header {
  background: $primary-color;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: $border-radius;
}

.footer {
  background: darken($primary-color, 20%);
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  border-radius: $border-radius;
}
